* {
	margin: 0;
	padding: 2px;
}

body {
	background-color: #ffe9ef;
	color: #333;
	line-height: 1.6;
}

header {
	text-align: center;
	background-color: #b2f2f2;
	padding: 20px;
	border-bottom: 4px solid #ff69b4;
}

header .logo {
	width: 200px;
	height: auto;
	border-radius: 10px;
}

header h1 {
	font-size: 2em;
	color: #a83279;
	margin-bottom: 5px;
}

header p {
	font-size: 1em;
	color: #a83279;
}

#id_1 {
	width: 460px;
	height: 60px;
	background-color: #ffd1dc;
	border-radius: 15px;
	margin: 15px auto;
	font-family: Arial, Helvetica, sans-serif;
}

#id_1 ul {
	list-style: none;
}

#id_1 ul li a {
	text-decoration: none;
	background-color: #ff69b4;
	color: white;
	padding: 12px 20px;
	border-radius: 30px;
	display: block;
}

#id_1 ul li a:hover {
	background-color: #ffe4e1; 
	color: #a83279; 
}

#id_1  > ul > li {
	float: left;
}

#id_1 ul li ul {
	display: none;
	position: absolute;
	min-width: 140px;
}

#id_1 ul li:hover > ul {
	display: block;
}

#id_1 ul li ul li {
	position: relative;
}

#id_1 ul li ul li ul {
	right: -140px;
	top: 0px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.sections-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1100px;
}

section img {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
}

section {
  flex: 1 1 0;
  min-width: 300px;
  text-align: center;
  max-width: 350px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
  width: 100%;
  max-width: 1100px;
  text-align: center;
  background-color: #ffe4e1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

footer {
	background-color: #ffd1dc;
	color: #a83279;
	text-align: center;
	padding: 15px;
	border-top: 4px solid #ff69b4;
	margin-top: 20px;
	border-radius: 0 0 15px 15px;
}